---
name: test

on:
  push:
    branches:
    - master
  pull_request:

jobs:
  unit:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - run: yarn install
    - run: yarn run lint
    - run: yarn test

  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - uses: ./
      id: object
      with:
        output_properties: 'true'
        patterns: |
          - test/assets/conf1.yml
          - test/assets/a/**/conf1.yml
          - test/assets/b/**/conf1.yml
    - run: echo '${{ steps.object.outputs.result }}'
    - if: ${{ steps.object.outputs.result != '{"test":"b1"}' }}
      run: 'false'
    - if: ${{ steps.object.outputs.test != 'b1' }}
      run: 'false'

    - uses: ./
      id: array
      with:
        patterns: |
          - test/assets/**/conf2.yml
    - run: echo '${{ steps.array.outputs.result }}'
    - if: ${{ steps.object.outputs.result != '["root2","a2","b2","c2"]' }}
      run: 'false'

    - uses: ./
      id: plain
      with:
        patterns: test/assets/**/file.txt
    - run: echo '${{ steps.plain.outputs.result }}'
    - if: ${{ steps.object.outputs.result != 'root\ntestA\ntestB\n' }}
      run: 'false'
